{% extends "global/base.html" %}

{% block content %}

<div class="form-wrapper">
    <div class="form-container">
        <h2>Publique uma imagem!</h2>
        
        <form 
            action="{% url 'nimbus:create' %}"
            method="POST"
            enctype="multipart/form-data"
        >
            {% csrf_token %}

            <div class="form-content">
                {% for field in form %}
                    {% if field.name == 'tags' %}
                        <div class="form-group">
                            <label for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
                            {{ form.tags }}
                            {{ form.tags.errors }}
                        </div>
                    {% elif field.name == 'image' %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {{ field.errors }}
                            <img id="imagePreview" src="#" alt="Pré-visualização" style="display: none; max-width: 80rem; max-height: auto;" />
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        
            <div class="form-content">
                <div class="form-group">
                    <button class="btn" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
