{% extends "global/base.html" %}
{% load static %}

{% block content %}

    <div class="post-wrapper">

        <div class="post-content">
            <img src="{{ posts.image.url }}" alt="imagem">
        </div>

        <div class="post-side">
            <div class="post-user">
                {% if posts.artist.profile.profile_image %}
                <img src="{{ posts.artist.profile.profile_image.url }}" alt="Imagem do perfil">
                {% else %}
                <img src="{% static "global/img/def_profile_img.jpg" %}" alt="Imagem padrão do perfil">
                {% endif %}
                <p>@{{ posts.artist }}</p>
            </div>
            <div class="post-about">
                <span>{{ posts.created_date|date:"d M Y H:i" }}</span>
                <h2>{{posts.title}}</h2>
                <p>{{posts.description}}</p>
            </div>
            <div class="post-interactions">
                <div class="likes">
                    <img src="{% static "global/img/like-p.svg" %}" alt="like" id="like-icon-{{ posts.id }}" class="like-icon">
                    <span id="like-count-{{ posts.id }}">{{ posts.total_likes }}</span>
                </div>
            </div>
            <div class="post-comments">
                <h3>Comentários</h3>
                {% if posts.comments.all %}
                    <ul>
                        {% for comment in posts.comments.all %}
                        <li>
                            <div class="comment-header">
                                <strong>@{{ comment.user.username }}</strong>
                                <span>{{ comment.created_at|date:"d M Y H:i" }}</span> <!-- Formata a data -->
                            </div>
                            <p>{{ comment.comment }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Seja o primeiro a comentar...</p>
                {% endif %}
            </div>
            <div class="form-comment">
            {% if user.is_authenticated %}
                <h4>Deixe um comentário</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Enviar</button>
                </form>
            {% else %}
                <p>Você precisa <a href="{% url 'nimbus:login' %}">Entrar</a> para comentar.</p>
            {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.like-icon').click(function() {
                var art_id = $(this).attr('id').split('-')[2];
                var url = "{% url 'nimbus:like_art' art_id=0 %}".replace('0', art_id);
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function(response) {
                        $('#like-count-' + art_id).text(response.total_likes);
                    },
                    error: function(xhr, status, error) {
                        if (xhr.status === 403) {
                            alert('Você precisa estar logado para dar like.');
                        } else {
                            console.log('Erro ao processar a solicitação.');
                        }
                    }
                });
            });
        });
    </script>

{% endblock content %}