{% load static %}<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nimbus - {{title}}</title>
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="{% url "nimbus:index" %}"><img src="{% static "global/img/logo-nimbus.png" %}" alt="Logo Nimbus"></a>
            </div>
            <ul class="menu">
                <li><a href="{% url "nimbus:index" %}">Explorar</a></li>
                <li><a href="{% url "nimbus:create" %}">Criar</a></li>
                <li><a class="btn-entrar" href="#entrar">Entrar</a></li>
                <li><a class="btn-cadastrar" href="{% url "nimbus:register" %}">Cadastrar</a></li>
            </ul>
        </nav>
    </header>
    {% include 'global/partials/_messages.html' %}
    {% block content %}{% endblock content %}
</body>
</html>