:root {

  --clr-white: rgb(245, 245, 255);
  --clr-black: rgb(0, 0, 30);
  --clr-deep-purple: #673AB7;
  --clr-turquoise: #30D5C8;
  --clr-sunset-orange: #FF5E57;
  --clr-mint-green: #98FF98;
  --clr-charcoal: #36454F;

  --biggest-font-size: 5rem;
  --bigger-font-size: 4rem;
  --big-font-size: 3.2rem;
  --medium-font-size: 2.4rem;
  --small-font-size: 1.6rem;
  --smaller-font-size: 1.4rem;
  --smallest-font-size: 1.2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: var(--small-font-size);
  color: var(--clr-turquoise);
  background: var(--clr-charcoal);
  position: relative;
}


/*----MENU -------------------------------  */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo img {
  height: 60px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li {
  display: inline;
}

.menu a {
  color: var(--clr-turquoise);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background 0.3s;
  font-size: var(--small-font-size);
  font-weight: bold;
}

.menu a:hover {
  color: var(--clr-deep-purple);
}

.menu .btn-entrar, .menu .btn-cadastrar {
  color: var(--clr-deep-purple);
}

.btn-entrar, .btn-cadastrar {
  background-color: var(--clr-turquoise);
}

.menu .btn-entrar:hover, .menu .btn-cadastrar:hover {
  background-color: var(--clr-deep-purple);
  color: var(--clr-turquoise);
}

/*----EXPLORAR  -------------------------------  */
.explorar {
  padding-top: 76px;
}

.explorar h2 {
  text-align: center;
  padding-top: 20px;
  color: var(--clr-turquoise);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  position: relative;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 400px;
}

.link-post {
  display: block;
  width: 100%;
  height: 100%;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item:hover .post-info {
  opacity: 1;
}

.post-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--clr-white);
  padding: 0px 10px 0px 10px;
  text-align: left;
  opacity: 0;
  transition: opacity 1.0s;
  display: flex;
}

.user-info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: all 1.5s ease;
  object-fit: cover;
}

.art-info {
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.art-info a {
  font-size: var(--smallest-font-size);
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-deep-purple);
  padding: 4px;
  border-radius: 10px;
  line-height: 2.4;
}

.post-title {
  padding: 4px;
}

.tags a:hover {
  filter: brightness(140%);
}

.interactions {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 10px;
  border-radius: 0 0 0 8px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1.0s;
}

.grid-item:hover .interactions {
  opacity: 1;
}

.interactions img {
  width: 45px;
  height: auto;
}

.likes, .comments {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.likes img:hover, .comments img:hover {
  filter: brightness(140%);
  cursor: pointer;
}

/*---- FORMS -----------------------------  */
.form-wrapper h2 {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  max-width: 30rem;
  margin: 0 auto;
  padding-top: 125px;
}

@media (min-width: 600px) {
  .form-wrapper {
    max-width: 50rem;
  }
}

@media (min-width: 900px) {
  .form-wrapper {
    max-width: 60rem;
  }
}

@media (min-width: 1300px) {
  .form-wrapper {
    max-width: 70rem;
  }
}

.form-content {
  margin: 1.5rem auto;
  padding: 0px 20px 0px 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  border-radius: 6px;
}

.form-group input {
  border-radius: 4px;
  height: 32px;
  border-style: unset;
  padding: 5px;
}

.form-group textarea {
  border-radius: 4px;
  height: 64px;
  border-bottom-style: inset;
  padding: 5px;
}

.form-group button {
  border-radius: 4px;
  height: 32px;
  border-style: unset;
  color: var(--clr-deep-purple);
  background-color: var(--clr-turquoise);
  font-size: var(--small-font-size);
  font-weight: bold;
}

.form-group button:hover {
  cursor: pointer;
  color: var(--clr-turquoise);
  background-color: var(--clr-deep-purple);
}

.form-group span {
  width: 100%;
}

.select2 {
  width: 100%;
}

.errorlist {
  list-style: none;
  font-size: var(--smallest-font-size);
  color: var(--clr-sunset-orange)
}
.errorlist.nonfield {
  color: inherit;
}

.help-text, .help-text ~ ul {
  font-size: var(--smallest-font-size);
  list-style: none;
  color: var(--clr-white);
}

.message {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--smaller-font-size);
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
}

.message.success p {
  max-width: 300px;
  background:#6bc36b;
  border: 1px solid var(--clr-mint-green);
  color: var(--clr-mint-green);
  padding: 8px;
  border-radius: 8px;
}

.message.error p {
  max-width: 300px;
  background:#c94841;
  border: 1px solid var(--clr-sunset-orange);
  color: var(--clr-sunset-orange);
  padding: 8px;
  border-radius: 8px;
}