:root {

  --clr-white: rgb(245, 245, 255);
  --clr-black: rgb(0, 0, 30);
  --clr-deep-purple: #673AB7;
  --clr-turquoise: #30D5C8;
  --clr-sunset-orange: #FF5E57;
  --clr-mint-green: #98FF98;
  --clr-charcoal: #263138;

  --biggest-font-size: 5rem;
  --bigger-font-size: 4rem;
  --big-font-size: 3.2rem;
  --medium-font-size: 2.4rem;
  --small-font-size: 1.6rem;
  --smaller-font-size: 1.4rem;
  --smallest-font-size: 1.2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: var(--small-font-size);
  color: var(--clr-turquoise);
  background: var(--clr-charcoal);
  position: relative;
}


/*----MENU -------------------------------  */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo img {
  height: 60px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li {
  display: inline;
  align-content: center;
}

.menu a {
  color: var(--clr-turquoise);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background 0.3s;
  font-size: var(--small-font-size);
  font-weight: bold;
}

.menu a:hover {
  filter: brightness(130%);
  text-decoration: underline;
}

.menu a.no-hover:hover {
  filter: brightness(115%);
  background-color: transparent;
}

.menu .btn-entrar, .menu .btn-cadastrar {
  color: var(--clr-turquoise);
}

.btn-entrar, .btn-cadastrar {
  background-color: var(--clr-charcoal);
  border: solid 1px var(--clr-turquoise);
}

.menu .btn-entrar:hover, .menu .btn-cadastrar:hover {
  color: var(--clr-turquoise);
  text-decoration: none;
  box-shadow: var(--clr-turquoise) 0px 0px 7px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-menu {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 76px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0 4px;
  width: 150px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.dropdown-menu ul li {
  margin: 5px 0;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: var(--clr-turquoise);
  padding: 10px;
  display: block;
  text-align: center;
  font-size: var(--smaller-font-size);
  font-weight: bold;
}

.dropdown-menu ul li a:hover {
  filter: brightness(130%);
  text-decoration: underline;
}

/*----EXPLORAR  -------------------------------  */
.explorar {
  padding-top: 76px;
}

.explorar h2 {
  text-align: center;
  padding-top: 50px;
  color: var(--clr-turquoise);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  position: relative;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 400px;
}

.grid-item .c-date{
  position: absolute;
  top: 10px;
  font-size: var(--smaller-font-size);
  color: var(--clr-white);
  padding: 3px 7px 3px 7px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 1.0s;
}

.grid-item:hover .c-date {
  opacity: 1;
}

.link-post {
  display: block;
  width: 100%;
  height: 100%;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item:hover .post-info {
  opacity: 1;
}

.post-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--clr-white);
  padding: 0px 10px 0px 10px;
  text-align: left;
  opacity: 0;
  transition: opacity 1.0s;
  display: flex;
  height: 115px;
  overflow: auto;
}

.user-info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: all 1.5s ease;
  object-fit: cover;
}

.art-info {
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.art-info a {
  font-size: var(--smallest-font-size);
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-deep-purple);
  padding: 4px;
  border-radius: 10px;
  line-height: 1.4;
}

.post-title {
  padding: 4px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
}

.tags a:hover {
  filter: brightness(140%);
}

.interactions {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 10px;
  border-radius: 0 0 0 8px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1.0s;
}

.grid-item:hover .interactions {
  opacity: 1;
}

.interactions img {
  width: 45px;
  height: auto;
}

.likes, .comments {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.likes img:hover, .comments img:hover {
  filter: brightness(140%);
  cursor: pointer;
}

/*---- FORMS -----------------------------  */

.form-container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-top: 8px;
}

.form-wrapper h2 {
  display: flex;
  justify-content: center;
  padding: 15px;

}

.form-wrapper {
  max-width: 30rem;
  margin: 0 auto;
  padding-top: 125px;
}

@media (min-width: 600px) {
  .form-wrapper {
    max-width: 50rem;
  }
}

@media (min-width: 900px) {
  .form-wrapper {
    max-width: 60rem;
  }
}

@media (min-width: 1300px) {
  .form-wrapper {
    max-width: 70rem;
  }
}

.form-content {
  margin: 1.5rem auto;
  padding: 0px 20px 0px 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  border-radius: 4px;
}

.form-group input {
  border-radius: 4px;
  height: 32px;
  border-style: unset;
  padding: 5px;
}

.form-group textarea {
  border-radius: 4px;
  height: 64px;
  border-bottom-style: inset;
  padding: 5px;
  resize: none;
}

.reg {
  padding-bottom: 15px;
  color: var(--clr-turquoise);
  font-size: var(--smaller-font-size);
}

.reg a {
  color: var(--clr-white);
  text-decoration: none;
}

.reg a:hover {
  text-decoration: underline
}

.form-group button {
  border-radius: 4px;
  height: 32px;
  border-style: unset;
  color: var(--clr-turquoise);
  background-color: var(--clr-charcoal);
  font-size: var(--small-font-size);
  font-weight: bold;
  border: solid 1px var(--clr-turquoise);
  transition: transform 0.1s ease;
}

.form-group button:hover {
  cursor: pointer;
  box-shadow: var(--clr-turquoise) 0px 0px 7px;
  filter: brightness(115%);
}

.form-group button:active {
  transform: scale(0.98);
}

.form-group span {
  width: 100%;
}

.select2 {
  width: 100%;
}

.errorlist {
  list-style: none;
  font-size: var(--smallest-font-size);
  color: var(--clr-sunset-orange)
}
.errorlist.nonfield {
  color: inherit;
}

.help-text, .help-text ~ ul {
  font-size: var(--smallest-font-size);
  list-style: none;
  color: var(--clr-white);
}

.form-search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 15px;
}

.form-search input {
  height: 34px;
  border-radius: 4px;
  border-style: none;
  padding: 4px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--clr-turquoise);
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
  border: solid 1px var(--clr-turquoise);
}

.form-search button {
  height: 34px;
  font-size: var(--smallest-font-size);
  border-radius: 4px;
  border-style: none;
  padding: 4px;
  width: 305px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--clr-turquoise);
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
  border: solid 1px var(--clr-turquoise);
  cursor: pointer;
  transition: transform 0.1s ease;
}

.form-search select {
  height: 34px;
  font-size: var(--smallest-font-size);
  border-radius: 4px;
  border-style: none;
  width: 150px;
  display: flex;
  justify-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--clr-turquoise);
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
  border: solid 1px var(--clr-turquoise);
  cursor: pointer;
}

.form-search input:focus, select:focus{
  outline: none;
  box-shadow: var(--clr-turquoise) 0px 0px 7px;
}

.form-search button:hover {
  box-shadow: var(--clr-turquoise) 0px 0px 7px;
}

.form-search button:active {
  transform: scale(0.95);
}

.form-search input::placeholder {
  font-size: var(--smallest-font-size);
  padding-left: 5px;
}

@media (min-width: 600px) {
  .form-search input {
    width: 200px;
  }
  .form-search button {
    width: 150px;
  }
  .form-search select {
    width: 200px;
  }
}

@media (min-width: 1000px) {
  .form-search input {
    width: 300px;
  }
}


/*---- MESSAGES -----------------------------  */


.message {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--smaller-font-size);
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
}

.message.success p {
  max-width: 300px;
  background:#6bc36bdb;
  border: 1px solid var(--clr-mint-green);
  color: var(--clr-mint-green);
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
}

.message.error p {
  max-width: 300px;
  background:#ca5751da;
  border: 1px solid var(--clr-sunset-orange);
  color: var(--clr-sunset-orange);
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
}


/*---- SINGLE-POST -----------------------------  */


.post-wrapper {
  display: flex;
  justify-content: center;
  padding: 100px 20px 0 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.post-content {
  width: 100%;
  max-width: 1100px;
  min-width: 340px;
}

.post-side {
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 340px;
  max-width: 340px;
  border-radius: 15px;
}

.post-content img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

@media (min-width: 900px) {
  .post-wrapper {
    flex-wrap: nowrap;
  }
}

.post-user {
  display: flex;
  padding: 13px;
  align-items: center;
  position: relative;
}

.post-user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.post-user p {
  color: var(--clr-white);
  font-size: var(--medium-font-size);
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.post-about {
  background-color: rgba(0, 0, 0, 0.40);
  padding: 13px;
  max-height: 200px;
  overflow: auto;
}

.post-about span {
  display: flex;
  justify-content: center;
  font-size: var(--smallest-font-size);
  color: #888;
}

.post-about h2 {
  font-size: var(--small-font-size);
}

.post-about p {
  font-size: var(--smaller-font-size)
}

.post-interactions {
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: center;
}

.post-interactions img {
  width: 40px;
  height: auto;
}

.post-comments {
  max-height: 300px;
  overflow: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.40);
}

.post-comments p {
font-size: var(--smallest-font-size);
color: #888;
}

.post-comments h3 {
  display: flex;
  justify-content: center;
  font-size: var(--small-font-size);
}

.post-comments ul {
  list-style-type: none;
  padding: 0;
}

.post-comments li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  font-size: var(--smallest-font-size);
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-header strong {
  font-weight: bold;
  color: var(--clr-white);
}

.comment-header span {
  color: #888;
  font-size: 0.9em;
}

.form-comment {
    padding: 10px;
}

.form-comment a {
  color: var(--clr-white);
}

.form-comment h4 {
  margin-bottom: 10px;
}

.form-comment textarea {
  width: 320px;
  resize: vertical;
  border-radius: 4px;
  padding: 5px;
  
}

.form-comment button {
  width: 320px;
  height: 30px;
  padding: 5px;
  background-color: var(--clr-charcoal);
  color: var(--clr-turquoise);
  font-weight: bold;
  font-size: var(--small-font-size);
  border-style: unset;
  border-radius: 4px;
  border: solid 1px var(--clr-turquoise);
}

.form-comment button:hover {
  cursor: pointer;
  box-shadow: var(--clr-turquoise) 0px 0px 7px;
}

/*---- PAGINATOR -----------------------------  */

.pagination {
  margin: 15px 0;
  text-align: center;
}

.pagination a {
  padding: 8px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--clr-turquoise);
  text-decoration: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
  border: solid 1px var(--clr-turquoise);
  font-size: 12px;
}

.pagination a:hover {
  text-decoration: underline;
  box-shadow: var(--clr-turquoise) 0px 0px 7px;
}

.pagination .current {
  padding: 8px 5px;
  font-weight: bold;
  font-size: 10px;
}

/*---- MOBILE NAV -----------------------------  */

.mobile-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 15px 10px 15px;
  z-index: 1000;
  height: 76px;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-icon {
  font-size: 32px;
  color: var(--clr-turquoise);
  cursor: pointer;
  position: relative;
  left: 27px;
  z-index: 1001;
}

.m-logo img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  height: 60px;
  top: 7px;
}

.m-login-btn {
  background-color: #4CAF50;
  color: var(--clr-turquoise);
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  z-index: 1001;
  font-size: var(--small-font-size);
  font-weight: bold;
  background-color: var(--clr-charcoal);
  border: solid 1px var(--clr-turquoise);
}

.m-login-btn:hover {
  box-shadow: var(--clr-turquoise) 0px 0px 7px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 76px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 4px 0;
}

.dropdown a {
  color: var(--clr-turquoise);
  padding: 12px 26px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  font-size: var(--smaller-font-size);
  display: flex;
  justify-content: center;
}

.dropdown a:hover {
  text-decoration: underline;
  filter: brightness(115%);
}

.show {
  display: block;
}

@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }
}

/*---- PROFILE -----------------------------  */

.main-shifted {
  display: flex;
  justify-content: center;
  padding: 133px 20px 0 20px;
  gap: 23px;
  flex-wrap: nowrap;
}

@media (max-width: 800px) {
  .main-shifted {
    flex-wrap: wrap;
  }
}

.profile-side {
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 340px;
  max-width: 340px;
  height: 772px;
  border-radius: 15px;
}

.profile-content {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 800px;
  min-width: 340px;
  width: 100%;
  height: 772px;
  border-radius: 15px;
}

.profile-info{
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 10px;
  position: relative;
}

.profile-info header{
  font-weight: bold;
  text-align: center;
}

.profile-info dl {
  padding-top: 26px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 4px;
  row-gap: 10px;
  align-items: center;
  font-size: var(--smaller-font-size);
}

.profile-info dt {
  font-weight: bold;
  color: var(--clr-turquoise)
}

.profile-info dd {
  margin: 0;
  color: var(--clr-white);
  overflow-y: auto;
}

.profile-info dd::-webkit-scrollbar {
  width: 4px;
  height: 7px;
}

.profile-info dd::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.profile-info dd::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2)
}

.post-user a {
  position: absolute;
  top: 80px;
  left: 212px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.4);
  font-size: var(--smaller-font-size);
}

#edit-info-link {
  color: rgba(255, 255, 255, 0.4);
  font-size: var(--smaller-font-size);
  position: absolute;
  left: 159px;
  bottom: 7px;
  width: 180px;
}

.profile-form .form-content {
  margin: 20px 0 20px 0;
}

.profile-form .form-content .form-group label {
  font-size: var(--smallest-font-size);
  font-weight: bold;  
}

.profile-form .form-content .form-group input {
  height: 25px;
}

.profile-form .form-content .form-group ul li {
  font-size: 1rem;
}

.profile-form .form-content .form-group .help-text {
  font-size: 1rem;
}

.profile-form .form-content .form-group {
  padding-bottom: 5px;
}




/*---- PROFILE CONTENT-------------------------  */


.profile-content form {
  padding: 15px;
  height: 772px;
  overflow: auto;
}

.table-post {
  width: 100%;
  border-collapse: collapse;
}

.table-post th, .table-post td {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.table-post th {
  background-color: rgba(0, 0, 0, 0.4);
}

.table-post tr {
  height: 40px;
}

.table-post td img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.btn-del-post {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-del-post:hover {
  background-color: #d32f2f;
}